body {
  background-color: #264653;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #E98A15;
  position: sticky;
  top: 0;
}

.logo {
  font-family: 'Patrick Hand', cursive;
  color: white;
}

#main-wrapper {
  padding: 20px 20px;
}

#add-button {
  color: #264653;
  border: 1px solid #264653;
  border-radius: .25rem;
  padding: 5px 10px;
  outline: none;
}

#add-button:hover {
  color: white;
  background-color: #E98A15;
}

#save-button {
  color: #88AB75;
  border: 1px solid #88AB75;
  border-radius: .25rem;
  padding: 1px 10px;
}

#save-button:hover {
  color: white;
  background-color: #88AB75;
}

.controls-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

input {
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  background-color: white;
  resize: none;
  width: 100%;
  box-sizing: border-box; 
}

.notes-wrapper {
  width: 200px;
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
}
